<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin's page</title>
</head>
<body>
    <h2>USERS</h2>
        <input type="button" value="Profile"
               onclick="window.location.href = 'user'"/>
        <input type="button" value="Exit"
               onclick="window.location.href = 'logout'"/>
        <input type="button" value="Add"
           onclick="window.location.href = 'admin/new'"/>

    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <th:block th:each="role : ${user.roles}">
                    <span th:text="${role.getRole()}"></span>
                    <span>;</span>
                </th:block>
            </td>
            <td>
                <form th:action="@{admin/{id}/edit(id=${user.id})}">
                    <input class="button" type="submit" value="Edit"/>
                </form>
            </td>
            <td>
                <form th:method="DELETE" th:action="@{admin/{id}(id=${user.id})}">
                    <input class="button" type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
    </table>

</body>
</html>